*{
    box-sizing: border-box;
}

body{
  background-image: url('http://wallpaperclicker.com/storage/wallpaper/Hd-Backgrounds-23710610.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron{
    margin-top: 10px;
    height: 260px;
    background-image: url("../image/fullstack-training-in-hyderabad.png");
    margin-top: 0px;
    
}

#aboutMe{
    background:  rgba(115, 155, 6, 0.4);
    padding: 10px;
    margin: 0px auto;
}
.aboutMeText{
    height: 100%;
}
#contact{
    background:  rgba(255, 255, 255, 0.4);
    padding: 10px;
    margin: 10px auto;

}

#portfolio{
    background: rgba(255, 255, 255, 0.4);
    padding: 10px;
    margin: 10px auto;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 500px;


}

.project{
    width: 80%;
    height: 400px;
    margin:20px;
   display: inline-block;
}
.img_project_block{
    height: 250px;
    widows: 80%;

}
.img_project{
    height: 100%;
    width: 80%;
}

.contact-list{
    width: 90%;
}


  @media only screen and (min-width: 320){

  }